<div class="demo-grid-ruler mdl-grid">
 <div class="mdl-cell mdl-cell--12-col mdl-shadow--2dp mdl-color--white">
  <h1>Home#index</h1>
  <p>Find me in app/views/home/index.html.erb</p>

 </div>

<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

</div>
</div>

