@import "bootstrap";

/*
@media (min-width: 768px) {
.navbar {
  position: relative;
  min-height: 40px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}
.navbar {
    border-radius: 4px;
  }
 }
*/

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.5em;
 
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

