// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  .demo-card-square.mdl-card {
    width: 300px;
    height: 250px;
  }
  .demo-card-square > .mdl-card__title {
    color: #fff;
    background:
      url('http://www.getmdl.io/assets/demos/dog.png') bottom right 15% no-repeat #46B6AC;
  }